In [1]:
import pandas as pd
import matplotlib as plt

In [7]:
path = 'Мини-кейс_Excel_Python.xlsx'
t = pd.read_excel(path)
tt = t.groupby('Тип точки').agg({'Выручка': 'sum', 'Число покупок': 'sum'})
tt['Средняя выручка'] = tt['Выручка'] / tt['Число покупок']
tt.reset_index()

             Тип точки  Выручка  Число покупок  Средняя выручка
0  Вендинговый автомат   202679           3949        51.324133
1                 Кафе   193960           1768       109.705882
2                Киоск   221969           2666        83.259190